.popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 5%;
    left: 40%;
    margin: 0px 0px 0px 0px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
    /* width: 500px; */
}

.popup_none {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.popup__title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
    margin: 20px auto 0 auto;
    color: black;
}

.popup__text-container {
    display: flex;
    gap: 10px;
    margin: 10px 20px 0px 20px;
}

.popup__text_bold {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    width: 170px;
    margin: 0;
    text-align: end;
}

.popup__text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}

.popup__button {
    width: 200px;
    height: 30px;
    border: none;
    background-color: green;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 5px;
    margin: 10px auto 20px auto;
    transition: 0.5s;
}

.popup__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* .popup::after {
    content: '';
    background-color: black;
    opacity: 0.1;
    width: 100vw;
    height: 100vh;
    z-index: 0;
} */